{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "risk-evidence-service.fullname" . | default "risk-evidence-service" }}
  annotations:
    kubernetes.io/ingress.class: {{ .Values.ingress.className }}
    {{- toYaml .Values.ingress.annotations | nindent 4 }}
spec:
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "risk-evidence-service.fullname" . | default "risk-evidence-service" }}
                port:
                  number: {{ .Values.service.port }}
{{- end }}
