apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "risk-evidence-service.fullname" . | default "risk-evidence-service" }}-pvc
spec:
  accessModes: [ "ReadWriteOnce" ]
  resources:
    requests:
      storage: {{ .Values.storage.size }}
  {{- if .Values.storage.className }}
  storageClassName: {{ .Values.storage.className }}
  {{- end }}
